.hero {
  position: relative;
  height: 40vh;
  background-color: black;
}

.imageBox {
  display: block;
  height: 100%;
}

.background1 {
  display: none;
}

.background2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 12px;
  background-image: linear-gradient(
    90deg,
    #000000b8,
    #00000099,
    #00000000
  );
}
.overlay h1 {
  max-width: 80%;
  bottom: 5%;
  font-size: 30px;
}
.short {
  font-size: 13px;
  font-weight: 300;
  color: #e7e2e2e4;
  padding-bottom: 6px;
}
.description {
  display: none;
}

.buttons {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 600px) {
  .hero {
    height: 100vh;
  }
  .overlay {
    justify-content: center;
  }
  .description {
    display: block;
    font-size: 14px;
    max-width: 60%;
    text-align: justify;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .short {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
   .hero {
    height: 100vh;
  }
  .background1 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1.001);
    position: relative;
  }
  .imageBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    overflow-y: hidden;
  }
  .overlay {
    background-image: linear-gradient(
      90deg,
      #000000f1,
      #000000ed,
      #00000047,
      #00000000
    );
    padding-inline: 3rem;
  }
  .overlay h1 {
    font-size: 38px;
  }
  .description {
    max-width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .description {
    max-width: 40%;
  }
}
