.navBox {
  max-width: 2000px;
  margin: auto;
}

.mobileNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 12px;

  /* position: fixed;
  top: 0; */
}

.mobileNav button {
  background: transparent;
  border: 0px;
}

.nav {
  display: none;
}

.flame {
  background-image: linear-gradient(180deg, gold, yellow);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (min-width: 771px) {
  .mobileNav {
    display: none;
  }

  .nav {
    position: fixed;
    top: 0;
    /* left: 0; */
    z-index: 10;
    display: flex;
    max-width: 2000px;
    margin-inline: auto;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-inline: 3rem;
    gap: 1rem;
  }

  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
  }

  .nav li {
    font-size: 14px;
  }

  .nav li:hover {
    color: #00c853;
  }

  .nav button {
    background: transparent;
    border: 0px;
  }

  .searchBar {
    display: flex;
    border: 1px solid #fff;
    align-items: center;
    justify-content: flex-start;
    max-width: 400px;
    height: 2rem;
    border-radius: 50px;
    padding-inline: 8px;
  }

  .searchBar input {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    color: #fff;
    padding-inline: 8px;
  }

  .searchBar input:focus {
    outline: 0;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    gap: 1.5rem;
  }
  .nav li {
    font-size: 16px;
  }

  .searchBar {
    width: 100%;
  }
}
